@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Inter Variable";
  src: url("/fonts/inter.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("/fonts/dm-serif-display.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Fallback";
  src: local("Arial");
  size-adjust: 107%;
  ascent-override: 90%;
  descent-override: 22%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "DM Serif Display Fallback";
  src: local("Times New Roman");
}

@theme inline {
  --font-inter: "Inter Variable", "Inter Fallback", sans-serif;
  --font-dm-serif-display:
    "DM Serif Display", "DM Serif Display Fallback", serif;
}

:root {
  font-family: var(--font-inter);
  color: var(--color-stone-600);
  background-color: var(--color-stone-50);
}

:root.dark {
  color: var(--color-stone-300);
  background-color: var(--color-zinc-900);
}

body {
  margin: 0 auto;
  padding: 2rem;
  max-width: 730px;
}

h1,
h2 {
  font-family: var(--font-dm-serif-display);
  color: var(--color-stone-800);
}

.dark h1,
.dark h2 {
  color: var(--color-stone-200);
}
