@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/inter/500.css";
@import "@fontsource/dm-serif-display";

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-stone-600);
  background-color: #fafaf9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
}

h1 {
  color: var(--color-stone-800);
  font-size: var(--text-5xl);
  line-height: var(--text-4xl--line-height);
}

h2 {
  color: var(--color-stone-800);
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
}

h3 {
  color: var(--color-stone-700);
  font-size: var(--text-base);
}

h4 {
  color: var(--color-stone-700);
  font-weight: var(--font-weight-medium);
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}
